$primaryButton: blue;

header {
    background-color: lightblue;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.myHeader {
    color: red;
}

button {
    background: $primaryButton;
}